In [19]:
import pandas as pd

df = pd.read_excel("Categorias de gastos.xlsx")

custos_fixos = list(df["CUSTOS FIXOS"].dropna().unique())
conforto = list(df['CONFORTO'].dropna().unique())
metas = list(df['METAS'].dropna().unique())
prazeres = list(df["PRAZERES"].dropna().unique())
conhecimento = list(df["CONHECIMENTO"].dropna().unique())
lib_fin = list(df["LIBERDADE FINANCEIRA"].dropna().unique())
dizimo = list(df["DÍZIMO E OFERTA"].dropna().unique())
reembolsavel = list(df["REEMBOLSÁVEL"].dropna().unique())
categorias = list(df["Categorias"].dropna().unique())
subcategorias = list(df["Sub categorias"].dropna().unique())


print("Metas = ", metas)
print("Conforto = ", conforto)
print("Custos fixos = ", custos_fixos)
print("Prazeres = ", prazeres)
print("Conhecimento = ", conhecimento)
print("Liberdade Financeira = ", lib_fin)
print("Dízimo = ", dizimo)
print("Reembolsável = ", reembolsavel)
#print("Categorias = ", categorias)
#print("Subcategorias = ", subcategorias)

df.sample()

Metas =  ['Alimentação', 'Aluguel de carro', 'Compras', 'Combustível', 'Entradas / Passeios', 'Estacionamento', 'Hospedagens', 'Lembranças', 'Ônibus / Metrô', 'Outros viagens', 'Passagens / Bagagem', 'Pedágio', 'Restaurantes', 'Supermercado', 'Uber/táxi', 'Fundo para viagem', 'Convite', 'Decoração', 'Doces Personalizados', 'Fotos', 'Lembrancinhas', 'Local / Buffet', 'Outros', 'Papelaria', 'Recreação', 'Fundo para festa de aniversário', 'Fundo de emergência']
Conforto =  ['Streaming (Netflix / Amazon / Disney)', 'Auxiliar doméstica', 'Manicure', 'Lavanderia', 'Alimentação Trabalho Larissa']
Custos fixos =  ['Material Escolar', 'Mensalidade Creche Isaque', 'Ração', 'Vacina', 'Medicamento', 'Tarifas bancárias', 'Supermercado', 'Aluguel / Condomínio / IPTU', 'Energia Elétrica', 'Internet', 'Manutenção', 'Condomínio', 'Financiamento APTO', 'Celular', 'Cabelereiro / Barbeiro', 'Combustível', 'Estacionamento', 'IPVA', 'Lavagem', 'Licenciamento', 'Multa', 'Ônibus / Metrô', 'Outros', 'Pedágio', 'Seguro', 'Taxi / Uber', 'Consultas médicas', 'Consultas odontológicas', 'Farmácia', 'Fraldas', 'Vacinas', 'Alimentação Trabalho Daniel', 'Padaria']
Prazeres =  ['Passeios', 'Restaurantes / Cafeterias', 'Esporte', 'Cinema / Teatro']
Conhecimento =  ['Cursos', 'Livros', 'Palestras / Workshops', 'Brnquedos educativos']
Liberdade Financeira =  ['Investimento']
Dízimo =  ['Dízimo', 'Oferta']
Reembolsável =  ['Saúde', 'Alimentação', 'Combustível', 'Estacionamento', 'Cursos / Livros']

,CUSTOS FIXOS,40,CONFORTO,Unnamed: 3,METAS,Unnamed: 5,PRAZERES,Unnamed: 7,CONHECIMENTO,Unnamed: 9,LIBERDADE FINANCEIRA,Unnamed: 11,DÍZIMO E OFERTA,Unnamed: 13,REEMBOLSÁVEL,Unnamed: 15,Categorias,Sub categorias
34,NaN,Vestuário,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.4-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.4-py2.py3-none-any.whl (251 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 251.4/251.4 kB 5.7 MB/s eta 0:00:00:00:01
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.4
Note: you may need to restart the kernel to use updated packages.